@use '../base/variables' as V;

@mixin phone{
    @media (min-width: 768px){
        @content;
    }
}

@mixin container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 120rem;
}