// Typoghraphy
$main_font: 'Quicksand', sans-serif;

// Colors
$steel_blue: #45A29E;
$light_blue: #66FCF1;
$grey: #C5C6C7;
$ocean_blue: #1F2833;
$dark_blue: #0B0C10;

$blue: #0097A7;
$yellow: #ffc107;
$grey: #2b2b2b;
$black-1: #101217;
$black-2: #0c0d0d;
$black: #000;
$white: #fff;