@use '../base/variables' as V;
@use '../base/mixins' as M;

.nav-bg{
    background-color: V.$black-1;
}

.main-nav{
    @include M.container;

    @include M.phone {
        flex-direction: row;
        justify-content: space-around;
    }

    a{
        color: V.$white;
        padding: 2rem;
        text-align: center;
    }

    a:hover {
        color: V.$black;
        background-color: V.$blue;
        transition: .3s;
    }
}