.services--web_design{
    grid-template-columns: repeat(2, 1fr);
}

.div-bg-img{
    width: 20rem;
    height: 12rem;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
}

.div-bg-img--frontendstore{
    background-image: url(../img/frontendstore.png); 
}

.div-bg-img--frontendstore:hover{
    box-shadow: 0px 0px 80px 0px rgba(87,0,87,1);
}

.div-bg-img--coffeeblog{
    background-image: url(../img/coffeeblog.png);
}

.div-bg-img--coffeeblog:hover{
    box-shadow: 0px 0px 80px 0px rgba(69,40,0,1);
}

.div-bg-img--musicfestival{
    background-image: url(../img/musicFestival.png);
}

.div-bg-img--musicfestival:hover{
    box-shadow: 0px 0px 80px 0px rgb(76,184,179,.4);
}

.div-bg-img--hover:hover{
    width: 24rem;
    height: 14rem;
}
